table {
	font-family: Arial, sans-serif;
	border-collapse: collapse;
	text-align: center;
	color: #696969;
}

table th, table td {
	padding: 8px;
	border: 1px solid white;
}

#table_head {
	text-transform: uppercase;
	background-color: #d3d3d3;
}

table tr:hover {
	background-color: #a8a8a8;
}

.odd {
	background-color: #dbdbdb;
}