.txt1 {
	font: 3em Arial;
	color: #fff;
	background-color: #6cf;
	padding: 15px;
	margin: 20px 10px;
}

.txt2 {
	font: arial;
	background-color: #699;
	padding: 15px 10px;
	margin: 20px 10px;
}