.block {
	width: 200px;
	height: 80px;
	border-radius: 24px;
	border: 2px solid #fff;
	box-shadow: 0 0 15px #4b60db;
	background: #4b60db;


}

.button {
	margin: 4px auto;
	color: white;
	font: 1.5em Arial;
	text-align: center;
	line-height: 70px;
	width: 190px;
	height: 70px;
	border-radius: 18px;
	background: linear-gradient(to top, #4b60db 10%, #3446ad, #4b60db 90%);
	border: 1px solid #fff;

}