

h1, div {
	background: #C9E;	
}
h1 {
	display: inline-block;
	padding: 5px 10px;
	max-width: 250px;
	border: 1px solid #57712A;
	position: relative;
	margin-bottom: -2px;
	border-radius: 10px 10px 0 0;	
	box-shadow: 0 0 8px 0;
}

div {
	position: absolute;
	height: 160px;
	width: 500px;
	padding: 30px 20px;
	border: 1px solid #57712A;
	border-radius: 0 8px 8px 8px;
	box-shadow: 0 0 2px 0;
}